body {
  width: 1200px;
  margin: 0 auto;
  }
  
  header {
    background-color: #ffcc00;
    height: 150px;
    padding: 10px;
    margin: 20px;
  }
  
  main {
    display: flex;
    align-items: flex-start;
    margin: 20px;
  }
  
  aside {
    display: flex;
    background-color: #9b59b6;
    flex: 0 0 300px;
    background-color: #9b59b6;
    height: 300px;
    margin-right: 20px;
  }
  
  section {
    display: flex;
    flex-direction: row;
    background-color: #1abc9c;
    height: 300px;
  }
  
  footer {
    background-color: #e74c3c;
    height: 100px;
    padding: 30px;
    margin: 20px;
  }
  