* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif; 
}
:root {
    --bg-color:#021024;
    --second-bg-color:#052659;
    --third-bg-color:#5483b3;
    --fourth-bg-color:#7DA0C4;
    --text-color:#fff;
    --main-color:#0ef;
    --text-box:#C1E8FF;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background:  var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}
nav a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}
nav a:hover,
nav a.acitve {
    color:  var(--main-color);
}

section{
    min-height: 100vh;
    padding: 10rem 9%;
}

form {
    min-height: 100vh;
    padding: 10rem 9%;
    background: var(--second-bg-color);
}
span {
    color: var(--main-color);
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

section > div:nth-child(1) > h3 {
    font-size: 3.2rem;
    font-weight: 700;
}
section > div:nth-child(1) > h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
section > div:nth-child(2){
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;

}

section > div:nth-child(2) > img {
    width:30vw ;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: var(--main-color);
}
section > div:nth-child(1) > p {
    font-size: 1.6rem;
    border-radius: 50%;
}

.aboutme {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--third-bg-color);

}
section:nth-child(3) > div:nth-child(1) > img {
    width: 30vw;
}

section:nth-child(3) > div:nth-child(2) > h2 {
    text-align: left;
    line-height: 1.2;
    font-size: 4.5rem;
    top:0;
    margin-top: 10px;
}
section:nth-child(3) > div:nth-child(2) > h3 {
    font-size: 2.6rem;
}
section:nth-child(3) > div:nth-child(2) > p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

section:nth-child(4) > h4 {
    text-align: center;
    font-size: 4.5rem;
    top:0;
    margin-top: 10px;
}
form:nth-child(5) > h4 {
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 20px;
    margin-top: 5px;
}

#table {
    background: var(--fourth-bg-color);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    gap: 2rem;
    background: var(--second-bg-color);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

table, th, td {
    border: 2px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background: var(--bg-color);
    color: var(--main-color);
}
.container {
    border-radius: 5px;
    background: var(--bg-color);
    padding: 20px;
  }
  

form p {
    color: var(--main-color);
    margin-top: 10px;
    margin-bottom: 10px;
}
#feedback {
    width: 50%;
    height: 150px;
    padding: .5rem 1.8rem;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius:2rem;
    background: var(--text-color);
    resize: none;  
      
}
input[type=text], select, 
input[type=email] {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-bottom: 10px;
    border-radius: 2rem;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  .row::after {
    content: "";
    display: table;
    clear: both;
  }

button {
    background: var(--text-color);
    color:var(--text-color);
    font-family: 'Quicksand', sans-serif;
	font-weight: bold;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 3rem;
    border: 0;
    border-radius: 3rem;
    background: var(--third-bg-color);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    float: left;
    margin-top: 10px;
  }
  
  button:hover {
    background: var(--main-color);
  }

footer {
    background: var(--second-bg-color);
    color: var(--main-color);
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    font-weight: bold;
} 

  ::placeholder {
    font-family: 'Quicksand', sans-serif;
	font-weight: 600;
    font-size: 1.1rem;
    color: #838788;
    position: relative;
    left: 0;
  }
		
  .col-1 {
    color: #57565c;
    height: 1.3rem;
    position: absolute;
    left: 1.5rem;
    top: 1.1rem;
  }
