* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

header {
    background-color: #24292e;
    padding: 16px 32px;

    nav {
        display: flex;
        margin-top: 20px;

    }

    li img {
        height: 32px;
    }

    ul {
        display: flex;

    }

    ul li {
        display: flex;
        background-color: #24292e;
        color: #ffffff;
        border: none;
        padding: 5px 10px;
        font-size: 18;
        font-weight: 400;
        border-radius: 6px;
        text-decoration: none;
    }

    input[type="search"] {
        width: 100%;
        padding: 12px 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
        background: transparent;
    }

    form {
        display: flex;
        margin-left: auto;
        gap: 20px;
        flex-grow: 1;
        max-width: 500px;
    }

    &::placeholder {
        background: #f4f5f7;
        padding: 30px;
    }

    #search {
        background: url('./images/icons/svgexport-16.png') no-repeat 15px center, url('./images/icons/svgexport-15.png') no-repeat right 15px center;
        background-size: 20px;
    }

    div {
        display: flex;
        gap: 10px;
        margin-top: 10px;
        align-items: center;
    }

    div a {
        text-decoration: none;
        border-radius: 4px;
    }

    div a:nth-child(1) {
        color: #f4f5f7;
        font-size: 18px;
        font-weight: 600;
        margin-left: 20px;
    }

    div a:nth-child(2) {
        display: inline-block;
        width: fit-content;
        height: auto;
        padding: 8px 10px;
        background-color: transparent;
        color: white;
        border: 1px solid #f4f5f7;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
    }

}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 15px;
    background: #151b23;


    ul {
        padding: 0;
        margin: 0;
        display: flex;
        gap: 16px;
        justify-content: center;
        align-items: center;
        background-color: #151b23;
    }

    li {
        display: inline;

        list-style: none;
    }

    li a {
        padding: 5px;
        margin: 0;
        display: flex;
        color: #9198a1;
        text-decoration: none;
    }

    li a:focus {
        color: #c5cbc7;
        font-weight: bold;
        text-decoration: underline #1074e7;
    }
}

.game-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


    h1 {
        color: #9198a1;
        margin: 20px 220px 20px 20px;
        text-align: center;
        font-size: 1.25rem;
        font-weight: 600;
    }

    .game-off {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: auto;
        width: 650px;
        background-color: #151b23;
        border-radius: 6px;
        margin: 0 auto;
        border: 1px solid #999696;
    }

    .game-off img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 6px;
    }

    .top-rated-games {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto;
        border-radius: 6px;
        border: 1px solid #bebcbc;
        border-top: none;
        height: auto;
        width: 650px;
    }

    .top-rated-games a {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin: 10px 8px 0 30px;
    }

    .top-rated-games h1 {
        color: #4493f8;
    }

    .top-rated-games p {
        color: #9198a1;
    }

    .top-rated-games p,
    .top-rated-games h1 {
        margin: 20px 25px 40px 30px;
    }

    .top-rated-games span {
        font-size: 1rem;
        color: #e4d9d9;
        margin-left: 10px;
    }
}

.collection {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #151b23;
    margin: 40px auto;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #999696;
    height: auto;
    width: 650px;

    .logo {
        display: flex;
        align-items: center;
        text-decoration: none;
        margin: 10px 8px 0 30px;
    }

    .logo img {
        width: 30px;
        height: auto;
        margin: 20px 10px 0 5px;
    }

    .logo span {
        font-size: 14px;
        font-weight: bold;
        color: #9198a1;
        margin-top: 20px;
    }


    .game-collection {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .game-collection img {
        width: 50px;
        padding: 10px;
        margin: 40px;
        height: auto;
        box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.1);
        /* margin: 20px 0 20px 10px; */
        border: 2px solid #151b23;
        border-radius: 6px;
    }

    .game-engine {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 5px;
        margin: 30px 0 40px 20px;

    }

    .game-engine h1 {
        font-size: 25px;
        margin: 0;
        color: #4493f8;
    }

    .game-engine p {
        font-size: 14px;
        color: #9198a1;
        margin: 5px 0;
    }

    .game-collection a {
        display: inline-block;
        margin-top: 20px;
        font-size: 14px;
        color: #0073e6;
        text-decoration: none;
        font-weight: bold;
    }

    &a::after {
        content: ' >';
        font-size: 20px;
    }

    .game-collection a:hover {
        text-decoration: underline;
    }
}

.trending-container {
    position: absolute;
    top: 100px;
    right: 100px;
    background-color: transparent;
    border: 1px solid #3d444d;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 550px;
    text-align: center;

    ul {
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 18px;
        margin: 0;
        padding: 10px;
        color: #ffffff;
        border: 1px solid #ffffff;
        border-radius: 5px;
        text-align: center;
    }

    li {
        display: flex;
        align-items: center;
        background-color: transparent;
        /* padding: 10px 0 20px 10px; */
        padding: 30px;
        border-radius: 8px;
        border: 1px solid #24292e;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        max-width: 450px;
    }

    li img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 10px;
    }

    li div {
        display: flex;
        flex-direction: column;
    }

    li div h2 {
        margin: 0;
        font-size: 1.2rem;
        color: #0073e6;
    }

    li div span {
        font-size: 0.9rem;
        color: #9198a1;
    }

    li div p {
        margin: 5px 0 0;
    }

    li div p a {
        text-decoration: none;
        color: #9198a1;
    }

    li a {
        width: 20px;
        margin-left: 30px;
        text-decoration: none;
    }

    div a {
        background-image: url('./images/icons/svgexport-25.png');
        background-size: 25px;
        background-repeat: no-repeat;
        margin: 5px 0 5px 10px;
    }

}


footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #151b23;
    padding: 40px;
    text-align: center;

    ul {
        display: flex;
        gap: 10px;
    }

    ul a,
    p {
        color: #9198a1;
        text-decoration: none;
        margin: 10px;
    }

    li {
        list-style: none;
        display: flex;
        font-size: 10px;
        font-weight: 600;

    }

    li a:hover {
        text-decoration: underline #1074e7;
        color: #1074e7;
        cursor: pointer;
    }

    li {
        margin-top: 10px;
    }
}